
*
{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
.cart
{
    width: 100%;
    padding: 20px 30px;
}
.cart h1 {
    color: rgb(104,9,80); 
}
.cart h3
{
    font-size: 32px;
    text-transform: uppercase;
    color: rgb(104,9,80);
    letter-spacing: 1px;
    font-weight: 300;
}
.cart .empty_cart
{
    width: 100%;
    align-items: center;
}
.cart .empty_cart h2
{
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    color: rgb(104,9,80);
    letter-spacing: 1px;
}
.cart .empty_cart button
{
    margin-left: 45%;
    padding: 10px 30px;
    margin-top: 10px;
    background: rgb(104,9,80);
    color: white;
    border: none;
    outline: none;
    border: 1px solid rgb(104,9,80);
    font-weight: 600;
    cursor: pointer;
}
.cart .container
{ 
    max-width: 100%;
    /* padding: 10px 20px; */
    /* display: flex;
    flex-direction: row; */
}



/* Media Query */


 @media screen and (max-width: 768px) {
    .cart .empty_cart button{
        justify-content: center;
    }
 }  


    


@media screen and (max-width: 768px)  {
    .cart 
    {
        width: 100%;
        /* justify-content: center; */
     /* padding: 10px 20px;   */
    }
}    
 @media screen and (max-width: 768px)  {  
.cart.container .box .img_box img {
    /* width: 100%; */
    width: 50px;
    height: 100%;
}
/* .cart .container .box{ */
    /* width: 100%; */
    /* display: flex;
    flex-direction: row; */

.cart .container .box .detail .info
{
    width: 100%;
}
 }
    



.cart .container .box
{
    display: flex;
    width: 100%;
    border: 2px solid #f6f6f6;
    height: 250px;
    margin-top: 10px;
}
.cart .container .box .img_box img
{
    width: 230px;
    height: 80%;
}
.cart .container .box .detail
{
    display: flex;
    width: 100%;
    margin-top: 10px;
    margin-left: 30px;
}
.cart .container .box .detail .info
{
    margin-top: 40px;
    margin-left: 60px;
}
.cart .container .box .detail .info h4
{
    text-transform: uppercase;
    font-size: 14px;
    color: #8a8a8a;
}
.cart .container .box .detail .info h3
{
    margin-top: 10px;
    color: rgb(104,9,80);
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}
.cart .container .box .detail .info p
{
    margin-top: 10px;
    color: #232323;
    text-transform: uppercase;
}
.cart .container .box .detail .quantity
{
    margin-top: 65px;
    margin-left: 70px;
    display: flex;
}
.cart .container .box .detail .quantity button
{
    padding: 10px 20px;
    color: white;
    border: none;
    outline: none;
    background: rgb(104,9,80);
    font-weight: 600;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.cart .container .box .detail .quantity input
{
    height: 40px;
    padding: 10px 20px;
    background: none;
    border: none;
    outline: none;
    border: 2px solid rgb(104,9,80);
    color: #cd1e76;
    font-size: 14px;
    font-weight: 600;
    width: 100px;
}
.cart .container .box .detail .myicon
{
    margin-top: 65px;
    margin-left: 60px;
}
.cart .container .box .detail .myicon li
{
    list-style: none;
    background: #cd1e76;
    padding: 10px 10px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}
.cart .bottom 
{
    margin-left: 30px;
}
.cart .bottom .Total h4
{
    font-size: 22px;
    color: rgb(104,9,80);
    text-transform: uppercase;
    font-weight: 600;
}
.cart .bottom button
{
    padding: 10px 30px;
    border: none;
    outline: none;
    background: none;
    background: rgb(104,9,80);
    color: white; 
    font-weight: 600;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}
.cart .bottom button .link {
    text-decoration: none;
    color: white;
}